@page "/Chemical"

<PageTitle>Chemical - Goateknocoats</PageTitle>
<div class="more-details position-relative row">
    <h1 class="display-4 has-brush">
        <span>
            Paints for Chemical Plants
        </span>
    </h1>
    <span class="brush-container">
        <img class="brush" src="images/brush.svg" />
    </span>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 thumb p-1">
                <a href="images/applications/chemical/chemical.jpg" data-fancybox="chemical">
                    <img src="images/applications/chemical/chemical.jpg" alt="Chemical 1" class="img-thumbnail zoom" />
                </a>
            </div>
            <div class="col-6 thumb p-1">
                <a href="images/applications/chemical/chemical2.jpg" data-fancybox="chemical">
                    <img src="images/applications/chemical/chemical2.jpg" alt="Chemical 2" class="img-thumbnail zoom" />
                </a>
            </div>
            <div class="col-6 thumb p-1">
                <a href="images/applications/chemical/chemical3.jpg" data-fancybox="chemical">
                    <img src="images/applications/chemical/chemical3.jpg" alt="Chemical 3" class="img-thumbnail zoom" />
                </a>
            </div>
            <p class="container-fluid mt-2">
                In spite of continual growth in the use of corrosion resistance metal
                and
                alloy
                to combat corrosion problems in chemical plant and structural steel working general, paint coatings
                are
                widely used. We have trained team of paint chemist which give excellent corrosion by tailoring the
                paint
                properties by choice of resins and pigment to reduce corrosion problems.
            </p>
        </div>
    </div>
</div>