@page "/DamsAndPipeline"

<PageTitle>Dams and Pipeline - Goateknocoats</PageTitle>
<div class="more-details position-relative row">
    <h1 class="display-4 has-brush">
        <span>
            Paints for Dams and Pipeline
        </span>
    </h1>
    <span class="brush-container">
        <img class="brush" src="images/brush.svg" />
    </span>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 thumb p-1">
                <a href="images/applications/damsandpipeline/dams.jpg" data-fancybox="damsandpipeline">
                    <img src="images/applications/damsandpipeline/dams.jpg" alt="Dams 1" class="img-thumbnail zoom" />
                </a>
            </div>
            <div class="col-6 thumb p-1">
                <a href="images/applications/damsandpipeline/pipeline.jpg" data-fancybox="damsandpipeline">
                    <img src="images/applications/damsandpipeline/pipeline.jpg" alt="Pipeline 1" class="img-thumbnail zoom" />
                </a>
            </div>
            <div class="col-6 thumb p-1">
                <a href="images/applications/damsandpipeline/dams2.jpg" data-fancybox="damsandpipeline">
                    <img src="images/applications/damsandpipeline/dams2.jpg" alt="Dams 2" class="img-thumbnail zoom" />
                </a>
            </div>
            <div class="col-6 thumb p-1">
                <a href="images/applications/damsandpipeline/pipeline2.jpg" data-fancybox="damsandpipeline">
                    <img src="images/applications/damsandpipeline/pipeline2.jpg" alt="Pipeline 2" class="img-thumbnail zoom" />
                </a>
            </div>
            <p class="container-fluid mt-2">
                We have specially designed paints for dam gates and Pipe line so that pipe
                line and
                gates don’t get corrode and don’t have to maintain again and again.
            </p>
            <p class="container-fluid mt-2">There are two type of surfaces commonly found in dams and pipe line </p>
            <div class="container-fluid mt-2">
                <ol>
                    <li>Surface in contact with water.</li>
                    <li>
                        Outer surface which is not in contact with water (Generally guniting is done for outer surface
                        some
                        cases we have specially designed paints)
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>