@page "/Marine"

<PageTitle>Marine - Goateknocoats</PageTitle>
<div class="more-details position-relative row">
    <h1 class="display-4 has-brush">
        <span>
            Paints for Marine Application
        </span>
    </h1>
    <span class="brush-container">
        <img class="brush" src="images/brush.svg" />
    </span>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 thumb p-1">
                <a href="images/applications/marine/marine.jpg" data-fancybox="marine">
                    <img src="images/applications/marine/marine.jpg" alt="Marine 1" class="img-thumbnail zoom" />
                </a>
            </div>
            <div class="col-6 thumb p-1">
                <a href="images/applications/marine/marine2.jpg" data-fancybox="marine">
                    <img src="images/applications/marine/marine2.jpg" alt="Marine 2" class="img-thumbnail zoom" />
                </a>
            </div>
            <div class="col-6 thumb p-1">
                <a href="images/applications/marine/marine3.jpg" data-fancybox="marine">
                    <img src="images/applications/marine/marine3.jpg" alt="Marine 3" class="img-thumbnail zoom" />
                </a>
            </div>
            <div class="col-6 thumb p-1">
                <a href="images/applications/marine/marine4.jpg" data-fancybox="marine">
                    <img src="images/applications/marine/marine4.jpg" alt="Marine 4" class="img-thumbnail zoom" />
                </a>
            </div>
            <p class="container-fluid mt-2">
                We are expert in the marine field and have very effective protective coating
                designed for ships. We use raw
                material like zinc etc. so that it act as cathode and further protect ship from corrosion and help in
                long
                lasting of ship structure
            </p>
            <p class="container-fluid mt-2">
                The paint system applied to any part of a ship will be dictated by the
                environment to which that part of the
                structure is exposed. Traditionally the painting of the external ship structure was divided into three
                regions.
            </p>
            <div class="container-fluid mt-2">
                <ol>
                    <li>Below the water-line where the plates are continually immersed in sea water.</li>
                    <li>
                        The water-line or boot topping region where immersion is intermittent and a lot of abrasion
                        occurs.
                    </li>
                    <li>
                        The topsides and superstructure exposed to an atmosphere laden with salt spray, and subject to
                        damage
                        through cargo handling. However now that tougher paints are used for the ship’s bottom the
                        distinction
                        between regions need not be so well defined, one scheme covering the bottom and water-line
                        regions.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
