@page "/Home"
@page "/"

<PageTitle>Home - Goateknocoats</PageTitle>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
        <li data-target="#myCarousel" data-slide-to="4" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-none d-md-inline" src="images/applications/marine/marine-lg.jpg"
                 alt="Paints for Marine Application">
            <img class="d-inline d-md-none" src="images/applications/marine/marine-sm.jpg"
                 alt="Paints for Marine Application">
            <div class="container-fluid">
                <div class="carousel-caption">
                    <h1>Paints for Marine Application</h1>
                    <p>Protective coating designed for ships</p>
                    <p>
                        <a class="btn btn-lg btn-link" href="/Marine">Read More</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-none d-md-inline" src="images/applications/damsandpipeline/dams-lg.jpg"
                 alt="Paints for Dam and Pipeline">
            <img class="d-inline d-md-none" src="images/applications/damsandpipeline/dams-sm.jpg"
                 alt="Paints for Dam and Pipeline">
            <div class="container-fluid">
                <div class="carousel-caption">
                    <h1>Paints for Dam and Pipeline</h1>
                    <p>Specially designed paints for pipelines and dams/superstructures</p>
                    <p>
                        <a class="btn btn-lg btn-link" href="/DamsAndPipeline">Read More</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-none d-md-inline" src="images/applications/industrial/industrial-lg.jpg" alt="Industrial Paints">
            <img class="d-inline d-md-none" src="images/applications/industrial/industrial-sm.jpg" alt="Industrial Paints">
            <div class="container-fluid">
                <div class="carousel-caption">
                    <h1>Industrial Paints</h1>
                    <p>Qualified team for designing industrial paints</p>
                    <p>
                        <a class="btn btn-lg btn-link" href="/Industrial">Read More</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-none d-md-inline" src="images/applications/chemical/chemical-lg.jpg"
                 alt="Paints for Chemical Plants">
            <img class="d-inline d-md-none" src="images/applications/chemical/chemical-sm.jpg"
                 alt="Paints for Chemical Plants">
            <div class="container-fluid">
                <div class="carousel-caption">
                    <h1>Paints for Chemical Plants</h1>
                    <p>Tailoring the paint properties to reduce corrosion problems</p>
                    <p>
                        <a class="btn btn-lg btn-link" href="/Chemical">Read More</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-none d-md-inline" src="images/applications/floor/floor-lg.jpg" alt="Floor Coatings">
            <img class="d-inline d-md-none" src="images/applications/floor/floor-sm.jpg" alt="Floor Coatings">
            <div class="container-fluid">
                <div class="carousel-caption">
                    <h1>Floor Coatings</h1>
                    <p>Epoxy floor coatings for industrial sites, warehouses, commercial buildings, ships</p>
                    <p>
                        <a class="btn btn-lg btn-link" href="/Floor">Read More</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>